**Exercise 2: Create markdown cell with title of the notebook**

# Data Science Tools and Ecosystem

__Exercise 3 - Create a markdown cell for an introduction__

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Exercise 4 - Create a markdown cell to list data science languages**

#### Some of the popular languages that Data Scientists use are:

1. Python
2. Julia
3. R
4. SQL
5. Java and more

**Exercise 5 - Create a markdown cell to list data science libraries**

#### Some of the commonly used libraries used by Data Scientists include:
1. Numpy 
2. Pandas
3. SickitLearn
4. Keras
5. Tensorflow

**Exercise 6 - Create a markdown cell with a table of Data Science tools**

#### Table of commonly used tools by data scientists
|Data Science Tools|
|------------------|
|Ceph|
|MySQL|
|Apache CouchDB|

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples**

### Below are a few examples of evaluating arithmetic expressions in Python.

1. 20 + 10 #addition
2. 34 - 6 #subtraction
3. 12 % 5 #modulus
4. 3**2 #exponent 
5.89 // 4 # floor division

**Exercise 8 - Create a code cell to multiply and add numbers**

In [2]:
''' This is a simple arithmetic expressionto mutiply then add integers.'''
(3*4)+5

17

**Exercise 9 - Create a code cell to convert minutes to hours**

In [3]:
# this will convert 200 minutes to hours by diving by 60.

200 / 60

3.3333333333333335

**Exercise 10 - Insert a markdown cell to list Objectives**

**Objectives:**
#### List popular languages for Data Science.
+ Python
+ R
+ Java
+ SQL
+ more

**Exercise 11 - Create a markdown cell to indicate the Author's name**

## **Author's Name**
##### Amjad Hussain